*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-base: "Montserrat", system-ui, sans-serif;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 2.5rem;
  --fs-xl: 4rem;

  --fw-md: 500;

  --btn-label: var(--fw-md) var(--fs-base) / 1.5 "Montserrat", system-ui,
    sans-serif;
  --span: var(--fw-md) var(--fs-sm) / 1.5 "Montserrat", system-ui;

  /* Colors Brand */
  --snitap-sun: #ffcd1e;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67e8f9;
  --snitap-joy-mid: #db2777;
  --snitap-joy-light: #f472b6;
  --snitap-leaf-mid: #16a34a;

  /* Colors Base */
  --text-color: #000000;
  --highlights: #000000;
  --background: #fafafa;

  /* Padding */
  --px-md: 1.5rem;
  --px-lg: 2rem;
  --px-xl: 3rem;

  --py-sm: 1.25rem;
  --py-md: 1.5rem;
  --py-lg: 2.5rem;
}

html,
button {
  font: 500 1rem/1.5 var(--ff-base);
}

h1,
h2 {
  font-family: "Syne", sans-serif;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1.25;
}

h2 {
  font-size: var(--fs-lg);
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 23.5em) {
  :root {
    --fs-sm: 0.75rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;

    /* Padding */

    --px-lg: 1.5rem;
  }
}
