.hero {
  overflow: hidden;
  justify-content: space-between;
  padding: var(--py-lg) var(--px-lg);
  
}

.hero.container {
  width: min(var(--max-width), 100%);
}

.hero h1 div {
  display: inline-block;
  overflow: hidden;
  height: 5rem;
  width: min-content;
  vertical-align: bottom;
}

h1 {
  max-width: 40rem;
}

.hero h1 span:nth-child(1),
.hero h1 span:nth-child(4) {
  color: var(--snitap-sky-mid);
}

.hero h1 span:nth-child(2) {
  color: var(--snitap-joy-mid);
}

.hero h1 span:nth-child(3) {
  color: var(--snitap-leaf-mid);
}

.hero h1 span {
  display: block;
  animation: slideUp 6s 2s infinite ease;
}

/* buttons */

.hero .buttons {
  gap: 2rem;
  margin-top: 3rem;

  & .button {
    gap: 0.75rem;
    border-radius: 5rem;
    width: fit-content;
    transition: scale 350ms;

    &:hover {
      scale: 1.1;
    }
  }

  & .buy {
    background-color: var(--snitap-sun);
  }

  & .play span {
    border-radius: 50%;
    background-color: white;
  }

  & .shadow {
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.1), 0 9px 9px rgb(0 0 0 / 0.09),
      0 20px 12px rgb(0 0 0 / 0.05), 0 36px 15px rgb(0 0 0 / 0.01);
  }
}

/* Patins */

.hero > div:nth-child(2) {
  display: block;
  width: 100%;
  max-width: 30.5rem;
  height: 30.5rem;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  animation: slideIn 3s ease forwards;

  & img {
    position: absolute;
  }

  & img[src*="ellipse"] {
    width: 94%;
    top: 3%;
    left: 3%;
    transform: translateX(200%);
    animation: slideIn 3s 200ms ease forwards;
  }

  & img[src*="patins"] {
    z-index: 1;

    transform: translateX(200%);
    animation: slideIn 3s ease forwards;
  }

  & img[src*="stars-1"] {
    max-width: 5.5rem;
    top: 30%;
    z-index: 0;

    opacity: 0;
    transform: translateX(400%);
    animation: slideIn 2s 800ms ease both, appear 100ms 800ms both;
  }

  & img[src*="stars-2"] {
    max-width: 2.5rem;
    right: 0;
    bottom: 35%;
    transform: translateX(400%);
    animation: slideIn 2s 800ms ease both;
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  /* radical static */
  0%,
  22% {
    transform: translateY(0rem);
  }

  /* divertida in */
  23% {
    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }

  /* divertida static */
  33%,
  55% {
    transform: translateY(-5rem);
  }

  /* saudável in */

  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  /* saudável static */
  66%,
  88% {
    transform: translateY(-10rem);
  }

  /* radical in */

  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
  }
}

@media (max-width: 23.5em) {
  .hero {
    flex-direction: column-reverse;
  }

  .hero > div:nth-child(2) {
    display: block;
    width: 100%;
    max-width: 19.5rem;
    height: 19.5rem;
  }

  .hero h1 div {
    height: 2.5rem;
  }

  .hero h1 {
    max-width: 19.5rem;
  }

  .hero .buttons {
    flex-direction: column;
    gap: 1.5rem;

    & .buy {
      order: 2;
    }

    & .play {
      order: 1;
    }
  }

  /* Patins */
  & img[src*="patins"] {
    width: 100%;
  }

  & img[src*="stars-1"] {
    max-width: 3.503125rem;
    max-height: 2.86375rem;
  }

  & img[src*="stars-2"] {
    max-width: 1.598125rem;
    max-height: 2.3975rem;
  }

  @keyframes slideUp {
    /* radical static */
    0%,
    22% {
      transform: translateY(0rem);
    }

    /* divertida in */
    23% {
      transform: translateY(calc(-2.5rem - 7.5px));
    }

    25% {
      transform: translateY(calc(-2.5rem + 5px));
    }

    27% {
      transform: translateY(calc(-2.5rem - 2.5px));
    }

    29% {
      transform: translateY(calc(-2.5rem + 2.5px));
    }

    /* divertida static */
    33%,
    55% {
      transform: translateY(-2.5rem);
    }

    /* saudável in */

    56% {
      transform: translateY(calc(-5rem - 7.5px));
    }

    58% {
      transform: translateY(calc(-5rem + 2.5px));
    }

    60% {
      transform: translateY(calc(-5rem - 2.5px));
    }

    62% {
      transform: translateY(calc(-5rem + 2.5px));
    }

    /* saudável static */
    66%,
    88% {
      transform: translateY(-5rem);
    }

    /* radical in */

    89% {
      transform: translateY(calc(-7.5rem - 7.5px));
    }

    91% {
      transform: translateY(calc(-7.5rem + 5px));
    }

    93% {
      transform: translateY(calc(-7.5rem - 2.5px));
    }

    95% {
      transform: translateY(calc(-7.5rem + 2.5px));
    }

    100% {
      transform: translateY(-7.5rem);
    }
  }
}
